params {
    input           = "$baseDir/assets/samplesheet.csv"
    outdir          = "results"
    ref             = "data/ref.fa"

    start_step      = 'qc'
    stop_at         = 'call'
    error_estimate  = false
    
    trimmer         = 'fastp'
    aligner         = 'bwa-mem2'
    caller          = 'freebayes'
    freebayes_mode  = 'population'

    filter_qual     = 30
    filter_min_dp   = 10
    filter_max_dp   = 100000
    filter_ind_dp   = 7

    fastp_args      = ""
    bwa_args        = ""
    bowtie2_args    = ""
    gatk_args       = ""
    freebayes_args  = ""

    multiqc_config = "$baseDir/assets/multiqc_config.yaml"

    publish_dir_mode = 'copy'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
        conda.useMamba = true
    }
}
