process {
    withName: 'FASTP' { ext.args = params.fastp_args; publishDir = [ path: { "${params.outdir}/qc/fastp" }, mode: params.publish_dir_mode ] }
    withName: 'BWA_ALIGN' { ext.args = params.bwa_args }
    withName: 'MARK_DUPLICATES' { publishDir = [ path: { "${params.outdir}/aligned" }, mode: params.publish_dir_mode ] }
    withName: 'FREEBAYES(?!_CALL_LIB).*' { ext.args = params.freebayes_args; publishDir = [ path: { params.freebayes_mode == 'population' ? "${params.outdir}/variants/population" : "${params.outdir}/variants/individual" }, mode: params.publish_dir_mode ] }
    withName: 'BCFTOOLS_MERGE' { publishDir = [ path: { "${params.outdir}/variants/merged" }, mode: params.publish_dir_mode ] }
    withName: 'BCFTOOLS_STATS_RAW|BCFTOOLS_STATS_FILTERED' { publishDir = [ path: { "${params.outdir}/qc/bcftools" }, mode: params.publish_dir_mode ] }
    withName: 'MULTIQC' { publishDir = [ path: { "${params.outdir}/multiqc" }, mode: params.publish_dir_mode ] }
    withName: 'VCF_FILTER' { publishDir = [ path: { "${params.outdir}/variants/filtered" }, mode: params.publish_dir_mode ] }
}
